In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import json

from sqlalchemy import create_engine

In [55]:
# Read in Data
csv_path = "Full_Fertilizer_Data.csv"
fertilizer_df = pd.read_csv(csv_path)

In [56]:
fertilizer_df

,Domain,Area,Element,Item,Year,Unit,Value
0,Fertilizers indicators,Afghanistan,Use per area of cropland,Nutrient nitrogen N (total),1961,kg/ha,0.13
1,Fertilizers indicators,Afghanistan,Use per area of cropland,Nutrient nitrogen N (total),1962,kg/ha,0.13
2,Fertilizers indicators,Afghanistan,Use per area of cropland,Nutrient nitrogen N (total),1963,kg/ha,0.13
3,Fertilizers indicators,Afghanistan,Use per area of cropland,Nutrient nitrogen N (total),1964,kg/ha,0.13
4,Fertilizers indicators,Afghanistan,Use per area of cropland,Nutrient nitrogen N (total),1965,kg/ha,0.13
...,...,...,...,...,...,...,...
30558,Fertilizers indicators,OECD,Use per area of cropland,Nutrient potash K2O (total),2015,kg/ha,22.39
30559,Fertilizers indicators,OECD,Use per area of cropland,Nutrient potash K2O (total),2016,kg/ha,22.72
30560,Fertilizers indicators,OECD,Use per area of cropland,Nutrient potash K2O (total),2017,kg/ha,23.55
30561,Fertilizers indicators,OECD,Use per area of cropland,Nutrient potash K2O (total),2018,kg/ha,23.35
30562,Fertilizers indicators,OECD,Use per area of cropland,Nutrient potash K2O (total),2019,kg/ha,22.87

In [57]:
fertilizer_df = fertilizer_df[["Area","Item","Year","Value"]]

In [58]:
fertilizer_df

              Area                         Item  Year  Value
0      Afghanistan  Nutrient nitrogen N (total)  1961   0.13
1      Afghanistan  Nutrient nitrogen N (total)  1962   0.13
2      Afghanistan  Nutrient nitrogen N (total)  1963   0.13
3      Afghanistan  Nutrient nitrogen N (total)  1964   0.13
4      Afghanistan  Nutrient nitrogen N (total)  1965   0.13
...            ...                          ...   ...    ...
30558         OECD  Nutrient potash K2O (total)  2015  22.39
30559         OECD  Nutrient potash K2O (total)  2016  22.72
30560         OECD  Nutrient potash K2O (total)  2017  23.55
30561         OECD  Nutrient potash K2O (total)  2018  23.35
30562         OECD  Nutrient potash K2O (total)  2019  22.87

[30563 rows x 4 columns]

In [59]:
fertilizer_df = fertilizer_df.rename(columns={"Area": "Country/Area", "Item": "Type_of_Fertilizer" , "Value": "Value(kg/ha)"})

In [60]:
rds_connection_string = "postgres:postgres@localhost:5432/Fertilizer_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [61]:
engine.table_names()

/var/folders/3k/123y7x113xj9frt5fwzkqgrc0000gn/T/ipykernel_11227/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['Fertilizer_DB']

In [62]:
fertilizer_df.to_sql(name='Fertilizer_DB', con=engine, if_exists='append', index=False)

In [63]:
pd.read_sql_query('select * from "Fertilizer_DB"', con=engine).head()

  Country/Area           Type_of_Fertilizer  Year  Value(kg/ha)
0  Afghanistan  Nutrient nitrogen N (total)  1961          0.13
1  Afghanistan  Nutrient nitrogen N (total)  1962          0.13
2  Afghanistan  Nutrient nitrogen N (total)  1963          0.13
3  Afghanistan  Nutrient nitrogen N (total)  1964          0.13
4  Afghanistan  Nutrient nitrogen N (total)  1965          0.13